@import url('https://fonts.googleapis.com/css2?Muli&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  'Muli', sans-serif;
}

.header{
  display: flex;
}

.nav-bar{
  display: flex;
  height: 50px;
  margin-top: 20px;
  list-style-type: none;
}

/* ----------- styling book icon -----------  */
.book-icon{
  height: 70px;
  width: 60px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -10px;

  border:none;
  cursor: pointer;
  float: left;
}
/* -------------------------------------------------------- */


/* ----------- styling logo & home button -----------  */
.home-icon {
  height: 48px;
  min-width: 123px;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  border:none;
  border-radius: 24px;
  cursor: pointer;
  font-size:16px;
  transition: background 0.3s ease;

}

.home-icon:hover{
  background-color: #00B4CC;
}
/* -------------------------------------------------------- */

/* ----------- styling search bar -----------  */
.search-box{
  background: #efefef;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 260px;
  margin-left: 10px;
  margin-right: 10px;
  height: 48px;
  width: 400px;
  border-radius: 50px;
  border: none;

}
  

.search-input {
  background-color: transparent;
  border:none;
  display: flex;
  flex-grow: 2;
  background: none;
  width:100%;
  margin-left: 5px;
  font-size:16px;
  border-radius: 50px;
  padding-left: 15px;
}


.search-button {
    width: 40px;
    height: 100%;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}
/* -------------------------------------------------------- */


/* ----------- styling login & favorites button ----------- */
.btn-group  {
  display: inline-block;
  cursor: pointer;
}

.login-button {
  height: 48px;
  min-width: 123px;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  border:none;
  border-radius: 24px;
  cursor: pointer;
  font-size:16px;
  transition: background 0.3s ease;

}

.login-button:hover{
  background-color: #00B4CC;
}

.favorites-button {
  height: 48px;
  min-width: 123px;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 15px;
  border:none;
  border-radius: 24px;
  cursor: pointer;
  font-size:16px;
  transition: background 0.3s ease;

}

.favorites-button:hover{
  background-color: #00B4CC;
}
/* -------------------------------------------------------- */


/* ----------- styling search results message ----------- */
.search-results-message{
  margin-top:10px;
  padding-left: 245px;
  font-size:12px;
}
/* -------------------------------------------------------- */

/* ----------- styling pagination ----------- */
.pagination-buttons{
  display: flex;
  align-items: center;
  gap: 4px;
  align-items: center;
  justify-content: center;
  margin: 10px;
  margin-top: 50px;
  padding: 30px;
  
}

.pg-btn {
  height: 35px;
  padding: 0 10px; 
  margin: 1px;
  border-radius: 5px;
  background: #ddd;
  appearance: none;
  border:#ddd ;
  cursor: pointer;
  transition: background 0.3s ease;
}

.pg-btn:hover:not([class$="active"]){
  background-color: #ccc;
}

.pg-btn:not([class$="-page"]){
width:35px;
}

.pg-btn[class$="-page"] {
  background: #ccc;
  font-weight: bold;
}

.pg-btn:hover[class$="-page"]{
  background-color: rgb(150, 148, 148);
}

.pg-btn.active {
  background: #00B4CC;  /*----#717790-----*/
  color:#fff;
}

.pg-btn[disabled] {
  opacity: 0.3;
 }
/* -------------------------------------------------------- */


/* ----------- styling login page ----------- */
/*  note need to fix login html  */

.login{
  margin-left: 400px;
  margin-right: 500px;
  align-items: center;
  justify-content: center;
}

/* -------------------------------------------------------- */



